* {
  /* background: #fafafa; */
  padding: 0;
  margin: 0;
  font-family: 'Black Han Sans', 'Nanum Gothic', sans-serif;
  font-size: 1.05em;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}

.container {
  width: 800px;
  margin: 0 auto;
  background-color: yellowgreen;
  position: relative;
  overflow: hidden;
}
.counter {
  padding: 20px 0 0 20px;
}

.bg {
  width: 100%;
  height: 600px;
  background-image: url('./images/bg.png');
}

.gameOver {
  width: 100%;
  height: 600px;
  background-image: url('./images/bg.png');
  opacity: 0.5;
  font-size: 80px;
  text-align: center;
  line-height: 7.3;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.level-up {
  position: absolute;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  top: 10px;
  left: 270px;
}

/* 여기서 부터 히어로 */

.hero {
  background-image: url('./images/hero.png');
  position: absolute;
  height: 54px;
  /* background-color: greenyellow; */
  bottom: 0px;
  /* left: 50%; */
}

.front {
  /* margin-left: -18px ; */
  left: 382px;
  width: 35px;
  background-size: 140px 54px;
  background-position: 0px 0px;
}

.left {
  /* margin-left: -12px; */
  left: 388px;
  width: 35px;
  background-size: 140px 54px;
  background-position: -73px 0px;
}

.right {
  /* margin-left: -12px; */
  left: 388px;
  width: 35px;
  background-size: 140px 54px;
  background-position: -103px 0px;
}

.back {
  /* margin-left: -18px ; */
  width: 35px;
  background-size: 140px 54px;
  background-position: -35px 0px;
}

/* 여기서 부터 고스트 */

.ghost {
  background-image: url(./images/enemy.png);
  position: absolute;
  height: 53px;
  /* background-color: red; */
  top: 0px;
  left: 400px;
}

.alive {
  width: 40px;
  margin-left: -20px;
  background-position: -3px 0;
}

.dead {
  width: 45px;
  margin-left: -23px;
  background-position: -45px 0;
}
